useDynLib(SeqTools)

import(methods)
import(IRanges)
import(Biostrings)
import(GenomicRanges)
import(Rsamtools)

exportMethods(aligner,
              isPaired,
              header,

              seqinfo,
              seqnames,
              seqlengths,

              convertBwaMultimap,
              query,

              getReadsFromSequence,
              swapStrand)

export(
       smoothReads,
       smoother.readsPileup,

       toSamTable,
       combineIntoSamTagsVector,
       toBwaMultimapString
)
