useDynLib(SeqTools)

import(methods)
import(IRanges)
import(GenomicRanges)
import(Biostrings)
import(BSgenome)
import(Rsamtools)
import(multicore)
import(foreach)
import(doMC)

exportMethods(aligner,
              isPaired,
              header,

              seqinfo,
              seqnames,
              seqlengths,

              convertBwaMultimap,
              query,

              getAllReads,
              getReadsFromSequence,
              swapStrand,

              ## GenomicRanges
              order,
              sort,

              quantifyOverlaps,

              ## DataFrame
              transform
              )

export(
       smoothReads,
       smoother.readsPileup,

       toSamTable,
       combineIntoSamTagsVector,
       toBwaMultimapString,

       filterBamThrough,

       assignUniqueOverlaps,
       countUniqueOverlaps,

       ## BSgenome
       bsgSamHeader,

       # utilties,
       load.it,
       dir.exists,
       convert.na
)
