useDynLib(SeqTools)

import(methods)
import(IRanges)
import(Biostrings)
import(GenomicRanges)
import(Rsamtools)

exportMethods(aligner,
              isPaired,
              header,

              seqinfo,
              seqnames,
              seqlengths,

              convertBwaMultimap,
              query,

              getReadsFromSequence,
              swapStrand,

              ## GenomicRanges
              order,
              sort
              )

export(
       smoothReads,
       smoother.readsPileup,

       toSamTable,
       combineIntoSamTagsVector,
       toBwaMultimapString,

       filterBamThrough,

       ## BSgenome
       bsgSamHeader,

)
